.search-box {
  border: 1px solid #ffffffab;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 15px;
  background-color: #ffffff;
}

input {
  padding: 12px 0;
  color: #000;
  border: none;
  border-right: 1px solid #0000001f;
}
input:focus{
  outline: none;
  border:none;
}

button {
  padding: 12px;
  margin-left: 15px;
  background: #f38d26;
  border-radius: 10px;
  border: 1px solid #0000001f;
  color: #fff;
}
.person {
  text-align: center;
  font-size: 15px;
  font-weight: 900;
  font-family: fantasy;
  margin: 30px;
}
.container {
  text-align: center;
  min-height: 45vh;
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  margin-bottom: 30px;
}

.contain {
  margin-bottom: 50px;
}
span {
  color: #f38c26e1;
}
.nav-link:hover {
  color: #f38c26e1 !important;
}
.barreV {
  border: 1px solid #36363683;
  width: 70%;
  margin: auto;
}

@media (min-width: 280px) and (max-width: 750px){
 .search-box{
   display: block;

 }
 input{
  border-bottom: 1px solid #000000a6;
  /* margin-bottom: 14px; */
  border-right: none;
 }
 button{
   margin-top: 15px;
 }
 .card{
   width: 10rem !important;
 }
 .navbar-brand{
   margin: 5px 0 !important;
 }
}